/* Global styles */

/* Color palette 
- main color: #172A54 rgb(34, 62, 122)
- secondary color: #2D4561 rgb(35, 57, 82)
- accent color: #FC6701 rgb(252, 103, 1)
- Light accent color: #FFBB04 rgb(255, 187, 4)
- text clor: #FAFAFA

*/

/* Hero styles */
.hero{
    width: 100%;
    min-height: 65rem;
    height: 85vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("../images/porshe.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

/* Subtitle styles */
.subtitle{
    position: relative;
}

.subtitle::before{
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    box-shadow: 10px -20px 25px 35px #FAFAFA;
    z-index: 999;
}

/* First Steps */
.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("../images/how-we-do-it-2.jpg") center no-repeat;
    background-size: cover;
}

.main::before{
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    box-shadow: 10px -20px 25px 35px white;
    z-index: 999;
}

.information{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#circle{
    width: 100%;
    height: 40rem;
    position: absolute;
    top: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.feature img{
    height: 6rem;
    width: 6rem;
}

.feature{
    position: absolute;
    display: flex;
    color: white;
}

.feature h1{
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 1.3px;
}

.feature div{
    margin-left: 1.8rem;
}

.feature div p{
    margin-top: .8rem;
}

.none{
    display: none;
}

.inline{
    display: inline;
}

.one{
    top: 33%;
    left: 9%;
    display: inline;
    transform: translateX(20%);
}

.two{
    top: 33%;
    left: 30%;
    display: none;
    transform: rotate(-90deg);
}

.three{
    bottom: 36%;
    left: 13%;
    display: none;
    transform: rotate(-180deg);
}

.four{
    bottom: 33%;
    right: 10%;
    display: none;
    transform: rotate(-270deg);
}

.mobile{
    width: 170px;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(10%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

.controls h3{
    font-size: 2.3rem;
    margin: 1.7rem 0;
    color: white;
}

.controls span{
    color: #FC6701;
    font-family: 'Aldrich', sans-serif;
    border-radius: 8px;
    padding: .3rem 1.2rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    font-size: 1.7rem;
    margin-left: 1rem;
    opacity: 0;
    transition: 400ms;
}

.controls:hover span{
    opacity: 1;
}

#upBtn{
    font-size: 2rem;
    width: 1.5rem;
    color: #FC6701;
    cursor: pointer;
}

#downBtn{
    font-size: 2rem;
    width: 1.5rem;
    color: #FC6701;
    cursor: pointer;
}

.process{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #fafafa;
}

.process .inner-container{
    margin-top: -5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.process .container .icon{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.process .icon .iconBx{
    position: relative;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 1) 100%);
    margin: 2rem 1rem;
    padding: 0 .5rem;
    height: 14rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 14px;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
}

.process .icon .iconBx.active{
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

.process .icon .iconBx.active h3{
    opacity: 1;
}

.process .icon .iconBx img{
    max-width: 7rem;
    filter: opacity(0.8);
    transition: 0.5s;
    transform: scale(0.8);
}

.process .icon .iconBx h3{
    color: #fafafa;
    opacity: 0.7;
    font-size: 1.6rem;
    letter-spacing: 1.3px;
}

.process .icon .iconBx.active img{
    filter: opacity(1);
    transform: scale(1);
}

.process .content{
    position: relative;
    width: 100%;
    height: 50vh;
    padding: 2rem 1rem;
}

.process .content .contentBx{
    position: absolute;
    width: 100%;
    display: flex;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: scale(0);
    opacity: 0;
}

.process .content .contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.2s;
}

.process .content .contentBx h2{
    color: rgba(0, 0, 0, .7);
    font-size: 2.6rem;
}

/* Media queries */

@media screen and (min-width: 350px){
    
}

@media screen and (min-width: 470px){
    #circle{
        width: 90%;
        height: 60rem;
        top: -33%;
        left: 3rem;
    }

    .feature{
        width: 25rem;
    }

    .feature h1{
        font-weight: 600;
        font-size: 2.4rem;
        letter-spacing: 1.3px;
    }

    .one{
        top: 70%;
        left: 27%;
        display: inline;
    }

    .two{
        top: 34%;
        left: 65%;
        transform: rotate(-90deg);
        display: none;
    }

    .three{
        bottom: 70%;
        left: 23%;
        display: none;
        transform: rotate(-180deg);
    }

    .four{
        top: 33%;
        right:70%;
        transform: rotate(-270deg);
        display: none;
    }
    
}

@media screen and (min-width: 700px){

    .process .inner-container{
        flex-direction: row;
    }
    
    .process .container .icon{
        position: relative;
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
    
    .process .icon .iconBx{
        position: relative;
        background-size: contain;
        width: calc(50% - 40px);
        margin: 2rem 1rem;
        padding: 0 0;
        height: 24rem;
        width: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 14px;
        transition: 0.5s;
        box-shadow: 0 5px 15px rgba(0, 0, 0, .07);
    }
    
    .process .icon .iconBx img{
        max-width: 11rem;
    }
    
    .process .icon .iconBx h3{
        color: #fafafa;
        opacity: 0.7;
        font-size: 2.8rem;
        letter-spacing: 1.3px;
    }
    
    .process .icon .iconBx.active img{
        filter: opacity(1);
        transform: scale(1);
    }
    
    .process .content{
        position: relative;
        float: right;
        width: 50%;
    }
    
    .process .content .contentBx{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        padding-bottom: 15rem;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        transform: scale(0);
        opacity: 0;
    }
    
    .process .content .contentBx h2{
        font-size: 3rem;
    }
    
}


@media screen and (min-width: 950px){
    .main-message p{
        max-width: 70%;
    }

    /* First Steps */
    .information{
        width: 100rem;
        height: 100rem;
        position: absolute;
        top: 50%;
        left: -30%;
        transform: translateY(-50%);
    }

    .feature{
        max-width: 30rem;
    }

    #circle{
        width: 100rem;
        height: 100rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: 1s;
    }

    .feature img{
        width: 7rem;
    }

    .feature h1{
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 1.3px;
    }

    .one{
        top: 415px;
        left: 560px;
        transform: translateX(30%);
        display: inline;
    }

    .two{
        top: 150px;
        left: 350px;
        transform: rotate(-90deg);
        display: none;
    }

    .three{
        bottom: 420px;
        right: 20px;
        transform: rotate(-180deg) translateX(40%);
        display: none;
    }

    .four{
        top: 75%;
        right: 30%;
        transform: rotate(-270deg);
        display: none;
    }

    .mobile{
        width: 200px;
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .overlay{
        width: 0;
        height: 0;
        border-top: 500px solid white;
        border-right: 500px solid transparent;
        border-left: 500px solid white;
        border-bottom: 500px solid white;
        position: absolute;
        left: 0;
        top: 0;
    }
    
}

@media screen and (min-width: 1200px){
    main .main-message{
        transform: translateY(20%);
    }

    #circle{
        width: 100rem;
        height: 100rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        transform: rotate(0deg);
        transition: 1s;
    }
    
    .feature{
        width: 45rem;
        min-width: 45rem;
    }

    .information{
        width: 100rem;
        height: 100rem;
        position: absolute;
        top: 50%;
        left: -15%;
        transform: translateY(-50%);
    }

    .one{
        top: 50%;
        left: 600px;
        transform: translate(20%, -50%);
        display: inline;
    }

    .two{
        bottom: 67%;
        left: 50%;
        transform: rotate(-90deg) translate(30%, -120%);
        display: inline;
    }

    .three{
        bottom: 50%;
        left: 5%;
        transform: rotate(-180deg) translate(35%, -50%);
        display: inline;
    }

    .four{
        top: 70%;
        left: 36%;
        background-color: red;
        transform: rotate(-270deg) translate(40% , 0);
        display: inline;
    }
}
