/* Global styles */

/* Color palette 
- main color: #172A54 rgb(34, 62, 122)
- secondary color: #2D4561 rgb(35, 57, 82)
- accent color: #FC6701 rgb(252, 103, 1)
- Light accent color: #FFBB04 rgb(255, 187, 4)
- text clor: #FAFAFA

*/

/* Hero styles */
.hero{
    width: 100%;
    min-height: 65rem;
    height: 80vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("../images/rangerover.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Services Styles */

.services .container{
    margin: 2rem auto;
}

.services-desc{
    margin-top: -6rem;
}

.service:nth-child(2n+1){
    position: relative;
    margin-top: -2rem;
    height: auto;
    background: white;
    display: flex;
    flex-direction: row-reverse;
}

.service:nth-child(2n+2){
    position: relative;
    margin-top: -2rem;
    height: auto;
    background: #fafafa;
    display: flex;
}

.service .imgBx{
    position: sticky;
    top: 0;
    min-width: 50%;
    height: auto;
}

.service .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.service:nth-child(2n+1) .content{
    padding: 100px 0px 100px 100px;
    text-align: right;
}

.service:nth-child(2n+2) .content{
    padding: 100px 100px 100px 0px;
    text-align: left;
}

.service .content h2{
    margin: 0 0 20px;
    font-size: 2.4rem;
}

.service .content p{
    margin: 0 0 20px;
    font-size: 1.9rem;
    color: #777;
}

/* Media queries */

@media screen and (min-width: 700px){
    
}


@media screen and (min-width: 950px){
    
}

@media screen and (min-width: 1200px){
    .main-message p{
        max-width: 70%;
    }
}
