/* Global styles */

/* Color palette 
- main color: #172A54 rgb(34, 62, 122)
- secondary color: #2D4561 rgb(35, 57, 82)
- accent color: #FC6701 rgb(252, 103, 1)
- Light accent color: #FFBB04 rgb(255, 187, 4)
- text clor: #FAFAFA

*/

/* Hero styles */

.hero{
    width: 100%;
    min-height: 65rem;
    height: 80vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/mustang.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
}

.main-message{
    width: 100%;
    max-width: 55rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}

.main-message h3{
    font-size: 2.1rem;
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 5.7rem;
    margin: 1rem 0;
}

.main-message p{
    text-transform: lowercase;
}

.btn{
    background-color: #FC6701;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    display: inline-block;
    margin-top: 2.2rem;
    padding: 1.2rem 2.3rem;
    transition: all 650ms;
}

.btn:hover{
    color: #FC6701;
    background-color: transparent;
}

/* How we do it */
.how-we-do-it{
    margin-top: -2rem;
    padding-top: 2.5rem;
}

.how-we-do-it-grid{
    display: relative;
    margin-top: -2rem;
}

.how-we-do-it-text{
    float: left;
    width: 100%;
}

.info-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem auto;
}

.how-we-do-it-text .number-image{
    position: relative;
    height: 3.2rem;
    width: 3.2rem;
    margin: 1.8rem;
}

.how-we-do-it-text img{
    height: 100%;
    width: 100%;
}

.how-we-do-it-grid p{
    color: rgba(0, 0, 0, .7);
}

.how-we-do-it-image{
    position: relative;
    margin: 0 auto;
    width: 80%;
}

.how-we-do-it .btn{
    margin-left: 50%;
    transform: translateX(-50%);
}
/* Services styles */
.experience-outdoors{
    padding: 2rem 0;
}

.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* cursor: pointer; */
    z-index: 1;
}

.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%);
    z-index: -1;
}

.star-gazing{
    background: url("images/mechanical-service.jpg") center no-repeat;
    background-size: cover;
}

.hiking{
    background: url("images/detailing-service.png") center no-repeat;
    background-size: cover;
}

.camping{
    background: url("images/pdr-service.jpg") center no-repeat;
    background-size: cover;
}

.activities-grid-item i{
    font-size: 4.6rem;
    color: #FC6701;
}

.activities-grid-item h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

/* Testimonials styles */

.testimonials{
    width: 100%;
    min-height: 60rem;
    height: 80vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/testimonials-bg.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-text-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.testimonial-text-box i{
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #FC6701;
    opacity: .5;
    z-index: -1;
}

.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #FC6701;
}


/* Adventure styles */

.adventure-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

.adventure-grid p{
    color: rgba(0, 0, 0, .7);
}

/* Start price */
.price{
    padding: 5rem 0;
}

.price .title-heading{
    margin-bottom: 5rem;
}

.price .price-table{
    overflow: hidden;
    background-color: #FFF;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    border-radius: 20px;
    color:#333;
    min-height: 42rem;
    margin: 1.5rem 1rem;
    transition: all 350ms ease-in;
}

.price .price-table:hover{
    box-shadow: 0 0 24px rgba(0,0,0,.4);
}

.price .price-table .price-head{
    padding: 40px;
    background: linear-gradient(135deg, rgba(20, 67, 168, 0.9) 0%, rgba(49, 80, 116, 0.9) 100%);
    color: #fafafa;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;  
}

.price .price-table .price-head h4{
    font-family: 'Aldrich', sans-serif;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.2rem;  
}

.price .price-table .price-head h2{
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: 2rem;  
}

.price .price-table .price-content ul{
    position: relative;
    padding: 1rem 3rem;
    margin: 1.5rem auto;
}

.price .price-table .price-content ul li{
    list-style: none;
    font-size: 1.6rem;
    line-height: 35px;
    font-weight: 600;
    color:rgba(0, 0, 0, .7);
    text-transform: uppercase;
    cursor: pointer;
}

.price .price-table .price-btn button{
    position: absolute;
    left: 40%;
    bottom: 2.5rem;
    background-color: #FC6701;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    transform: translateX(-35%);
    margin: 1rem 0;
    padding: 1rem 2rem;
    transition: all 650ms;
}

.price .price-table .price-btn button:hover{
    color: #FC6701;
    background-color: transparent;
}

.glide__arrows{
    position: relative;
    display: flex;
    margin: 1rem auto;
    flex-direction: row;
    justify-content: initial;
}

.glide__arrows .glide__arrow{
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%);;
    border: none;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 15%;
    color: #ec8c0d;
    font-size: 22px;
    outline: none;
    margin-right: 15px;
    padding: 0;
    cursor: pointer;
}

.glide__arrows .glide__arrow:active,
.glide__arrows .glide__arrow:hover{
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.glide__arrows .glide__arrow .glide__arrow--left{
    float: left;
}

.glide__arrows .glide__arrow .glide__arrow--right{
    right: 0;
}

.glide__slide{
    transform: scale(.9);
    transition: all ease 0.5s;
}

.glide__slide.glide__slide--active{
    transform: scale(1);
}

/* Follow us Styles */
.follow-work {
    position: relative;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/rangerover.jpg") center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-position: center center;
    background-attachment: fixed;
}

.follow-work::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
}

.between{
    display: flex;
    align-items: center;
}

.follow-work .container{
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 35vh;
}

.follow-work .container .title-heading{
    color: #fafafa;
    margin-bottom: 0;
}

.social-contact{
    margin: 6rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-contact-icon{
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: all 650ms;
}

.social-contact-icon .icon-name{
    padding-top: 15px;
    font-size: 3.2rem;
    letter-spacing: 1.4px;
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
}

.social-contact img{
    height: 80px;
    width: 80px;
    transition: 0.2s;
}

/* Contact us styles */
.contact{
    position: relative;
    min-height: 100vh;
    padding: 6rem 1rem;
    padding-bottom: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/porshe.jpg");
    background-size: cover;
}

.contact .content{
    text-align: center;
}

.contact .content .title-heading{
    margin-bottom: 3.5rem;
}

.contact .content h2{
    font-size: 3.6rem;
    font-weight: 500;
    color: white;
}

.contact .content p{
    font-weight: 300;
    color: white;
}

.contact .inner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contact .inner-container .contactInfo{
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

.contact .inner-container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .inner-container .contactInfo .box .icon{
    min-width: 6rem;
    height: 6rem;
    background: #ec8c0d;;
    color: #2D4561;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2.7rem;
}

.contact .inner-container .contactInfo .box .text{
    display: flex;
    margin-left: 2rem;
    font-size: 1.6rem;
    flex-direction: column;
    font-weight: 300;
    color: white;
}

.contact .inner-container .contactInfo .box .text h3{
    font-weight: 600;
    color: #FC6701;
}

.contactForm{
    width: 100%;
    padding: 3rem;
    background: rgba(255, 255, 255, .2);
    border-radius: 1.2rem;
}

.contactForm h2{
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    color: #fafafa;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 1rem;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 0.5rem 0;
    font-size: 1.8rem;
    margin: 1rem 0;
    border: none;
    color: white;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    font-family: 'Aldrich', sans-serif;
    position: absolute;
    left: 0;
    padding: 0.5rem 0;
    font-size: 1.6rem;
    margin: 1rem 0;
    pointer-events: none;
    transition: 0.5s;
    color: white;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #FC6701;
    font-size: 1.35rem;
    transform: translateY(-25px);
}

.contactForm .inputBox input[type="submit"]{
    background-color: #FC6701;
    width: 40%;
    max-width: 150px;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    display: inline-block;
    margin-top: 2.2rem;
    padding: 1rem 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 650ms;
}

.contactForm .inputBox input[type="submit"]:hover{
    background-color: transparent;
}

/* Media queries */

@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(20%);
    }
}

@media screen and (min-width: 470px){
    .hero::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }

    .main-message{
        transform: translateY(25%);
    }

    .testimonials::before{
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png");
        background-size: cover;
    }

    .follow-work::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px){
    .hero{
        height: 70vh;
    }

    .main-message{
        transform: translateY(35%);
    }

    .testimonial{
        top: 65%;
    }

    .price .price-table{  
        margin: 1.5rem 0.5rem;
    }

    .follow-work .container{
        padding: auto 0;
        flex-direction: row;
    }

    .follow-work .container .title-heading{
        margin: auto 0;
    }
    
    .social-contact-icon{
        opacity: 0.8;
    }

    .social-contact-icon:hover{
        opacity: 1;
        scale: 1.2;
    }

    .social-contact .social-contact-icon .icon-name{
        font-size: 2.6rem;
        font-weight: 600;
    }

    .begin-adventure{
        margin-top: -2rem;
        padding-top: 2.5rem;
    }
}

@media screen and (min-width: 950px){
    .hero::before{
        height: 22.7rem;
        background: url("images/wave-large.png");
        background-size: cover;
    }

    .main-message{
        max-width: 70rem;
    }

    .how-we-do-it-text{
        width: 53%;
    }

    .how-we-do-it-image{
        float: right;
        margin-top: -6rem;
        margin-bottom: 4rem;
        width: 43%;
    }

    .testimonials::before{
        height: 22.7rem;
        background: url("images/wave-large-reversed.png");
        background-size: cover;
    }

    .follow-work{
        min-height: 45rem;
        height: 70vh;
    }

    .follow-work .container{
        transform: translateY(-15%);
    }

    .social-contact{
        flex-direction: row;
    }

    .follow-work::before{
        height: 22.7rem;
        background: url("images/wave-large.png");
        background-size: cover;
    }

    .contact{
        padding-bottom: 9rem;
    }
    

    .contact .content .title-heading{
        margin-bottom: 8.5rem;
    }

    .contact .inner-container{
        flex-direction: row;
    }

    .contact .inner-container .contactInfo{
        width: 50%;
    }

    .contact .inner-container .contactForm{
        width: 45%;
    }
}

@media screen and (min-width: 1200px){
    .hero{
        height: 90vh;
    }
    
    .main-message{
        max-width: 100%;
        transform: translateY(45%);
    }

    .main-message h1{
        font-size: 8.4rem;
    }

    .main-message p{
        max-width: 65rem;
    }
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}

@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}



@keyframes scaleAndFade {
    from { 
        scale: .5;
        opacity: 1;
     }
    to   { 
        scale: 1.8;
        opacity: 0;
     }
}

/* Firefox < 16 */
@-moz-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}

/* Internet Explorer */
@-ms-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}

/* Opera < 12.1 */
@-o-keyframes scaleAndFade {
    from { scale: .5; }
    to   { scale: 1.8; }
}