/* Global styles */

/* Color palette 
- main color: #172A54 rgb(34, 62, 122)
- secondary color: #2D4561 rgb(35, 57, 82)
- accent color: #FC6701 rgb(252, 103, 1)
- Light accent color: #FFBB04 rgb(255, 187, 4)
- text clor: #FAFAFA

*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

section{
    padding: 5rem 0;
}

.accent-text{
    color: #FC6701;
}

/**********  start preload ***********/
.loading-overlay{
    background: linear-gradient(135deg, rgba(34, 62, 122, 1) 0%, rgba(35, 57, 82, 1) 100%);
    color:#fff;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:99999;  	
}

.loader{
    width: 150px;
    height: 150px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    z-index: 9999;
}

.loader-div{
    width: 100%;
    height: 100%;
    border: 8px solid linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%);
    border-radius: 50%;
    border-top:8px solid #FC6701;
    animation: rotate 5s linear infinite;
}
/**********  End preload ***********/

/* Header styles */
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 108rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav-brand{
    width: 2rem;
}

.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}

.close i{
    color: #FC6701;
}

.nav-list{
    width: 25rem;
    height: 100vh;
    background-color: #d4d7ed;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item{
    margin: 1.5rem 0;
}

.nav-link{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .7);
}

/* Hero styles */

.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/mustang.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.hero::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
}

.main-message{
    width: 100%;
    max-width: 55rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);
}

.main-message h3{
    font-size: 2.1rem;
}

.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 5.7rem;
    margin: 1rem 0;
}

.main-message p{
    text-transform: lowercase;
}

.btn{
    background-color: #FC6701;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    display: inline-block;
    margin-top: 2.2rem;
    padding: 1.2rem 2.3rem;
    transition: all 650ms;
}

.btn:hover{
    color: #FC6701;
    background-color: transparent;
}

/* Services styles */
.experience-outdoors{
    padding: 2rem 0;
}

.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10rem;
    color: rgba(0, 0, 0, .7);
}

.title-heading h3{
    font-size: 1.9rem;
}

.title-heading h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    margin: .5rem 0 1rem;
}

.title-heading p{
    text-transform: lowercase;
}

.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
}

.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* cursor: pointer; */
    z-index: 1;
}

.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%);
    z-index: -1;
}

.star-gazing{
    background: url("images/mechanical-service.jpg") center no-repeat;
    background-size: cover;
}

.hiking{
    background: url("images/detailing-service.png") center no-repeat;
    background-size: cover;
}

.camping{
    background: url("images/pdr-service.jpg") center no-repeat;
    background-size: cover;
}

.activities-grid-item i{
    font-size: 4.6rem;
    color: #FC6701;
}

.activities-grid-item h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.9rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

/* Testimonials styles */

.testimonials{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(34, 62, 122, 0.9) 0%, rgba(35, 57, 82, 0.8) 100%), url("images/testimonials-bg.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}

.testimonials::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small-reversed.png") center no-repeat;
    background-size: cover;
}

.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.testimonial-text-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.testimonial-text-box i{
    position: absolute;
    top: -12rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 8rem;
    color: #FC6701;
    opacity: .5;
    z-index: -1;
}

.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #FC6701;
}


/* Adventure styles */

.adventure-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}

.adventure-grid p{
    color: rgba(0, 0, 0, .7);
}

/************ start price *********/
.price{
    padding: 5rem 0;
}

.price .title-heading{
    margin-bottom: 5rem;
}

.price .price-table{
    overflow: hidden;
    background-color: #FFF;
    box-sizing: border-box;
    box-shadow: 0 0 12px rgba(0,0,0,.2);
    border-radius: 20px;
    color:#333;
    min-height: 42rem;
    margin: 1.5rem 1rem;
    transition: all 350ms ease-in;
}

.price .price-table:hover{
    box-shadow: 0 0 24px rgba(0,0,0,.4);
}

.price .price-table .price-head{
    padding: 40px;
    background: linear-gradient(135deg, rgba(20, 67, 168, 0.9) 0%, rgba(49, 80, 116, 0.9) 100%);
    color: #fafafa;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;  
}

.price .price-table .price-head h4{
    font-family: 'Aldrich', sans-serif;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.2rem;  
}

.price .price-table .price-head h2{
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-size: 2rem;  
}

.price .price-table .price-content ul{
    position: relative;
    padding: 1rem 3rem;
    margin: 1rem auto;
}

.price .price-table .price-content ul li{
    list-style: none;
    font-size: 1.4rem;
    line-height: 35px;
    font-weight: 600;
    color:rgba(0, 0, 0, .7);
    text-transform: uppercase;
    cursor: pointer;
}

.price .price-table .price-btn button{
    position: absolute;
    left: 40%;
    bottom: 2.5rem;
    background-color: #FC6701;
    border-radius: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border: solid 3px #FC6701;
    color: #fafafa;
    transform: translateX(-35%);
    margin: 1rem 0;
    padding: 1rem 2rem;
    transition: all 650ms;
}

.price .price-table .price-btn button:hover{
    color: #FC6701;
    background-color: transparent;
}

/************ End price *********/

/* Footer Styles */
footer {
    padding: 4.9rem 0;
    background-color: rgba(23, 42, 84, .9);
    color: white;
    text-align: center;
    position: relative;
}

.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #ec8c0d;
    position: absolute;
    top: -3.3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i {
    display: block;
    color: white;
    padding: 2.3rem;
    font-size: 2.2rem;
    animation: up 1.5s infinite;
}

.footer-content {
    overflow: hidden;
}

.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.asterisk{
    font-size: 1.2rem;
    color: #ec8c0d;
    margin: 0 1.6rem;
}

.footer-content .asterisk{
    margin: 2.4rem 0;
}

.footer-content-about{
    margin-bottom: 5.4rem;
    color: #fafafa;
}

.footer-content-about p{
    line-height: 2;
}

.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i{
    font-size: 2.4rem;
    color: white;
    padding: .8rem 2rem;
    opacity: .7;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus{
    color: #ec8c0d;
}

/* Media queries */

@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(20%);
    }
}

@media screen and (min-width: 470px){
    .hero::before{
        height: 9.4rem;
        background: url("images/wave-medium.png");
        background-size: cover;
    }

    .main-message{
        transform: translateY(25%);
    }

    .testimonials::before{
        height: 9.4rem;
        background: url("images/wave-medium-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 700px){
    header{
        height: 8rem;
    }

    .nav-brand{
        width: 3.5rem;
    }

    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons{
        display: none;
    }

    .nav-item{
        margin: 0 1rem;
    }

    .nav-link,
    .current{
        color: #fafafa;
        position: relative;
        font-size: 1.5rem;
        transition: color 650ms;
    }

    .nav-link::before,
    .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: #FC6701;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .nav-link:hover{
        color: #FC6701;
    }

    .current::before{
        transform: scaleX(1);
    }

    .nav-link:hover::before{
        transform: scaleX(1);
    }

    .hero{
        height: 70vh;
    }

    .main-message{
        transform: translateY(35%);
    }

    .title-heading h3{
        font-size: 2.9rem;
    }

    .title-heading h1{
        font-size: 4rem;
    }

    .testimonial{
        top: 65%;
    }

    .price .price-table{  
        margin: 1.5rem 0.5rem;
    }

    .price .row div:nth-child(2){
        transform: translateY(-4%);
    }
}

@media screen and (min-width: 950px){
    .hero::before{
        height: 22.7rem;
        background: url("images/wave-large.png");
        background-size: cover;
    }

    .main-message{
        max-width: 70rem;
    }

    .testimonials::before{
        height: 22.7rem;
        background: url("images/wave-large-reversed.png");
        background-size: cover;
    }
}

@media screen and (min-width: 1200px){
    .hero{
        height: 90vh;
    }
    
    .main-message{
        transform: translateY(40%);
    }
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(1rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-1rem);
    }
}

@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);

    }
}


@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}